.my-border {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 20px 100px 20px 20px;
  background-color: lightblue;
}

.thin-red-border {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.new-thin-red-border {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  margin: 20px 100px 20px 20px;
  padding: 20px 100px 20px 20px;
}

.image-container {
  text-align: center;
}

.green-text {
  color: green;
}
.light-green-background {
  background-color: lightgreen;
}

body {
  text-align: center;
}

.question {
  font-weight: bold;
}
